/* css de todo lo que está debajo del header dentro de index.html */
/*fondo:  #1E2843 */

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,700&family=Inter:wght@300;400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* azul marino oscuro #18142A */
/* azul marino claro #26213F */
/* morado oscuro #49426C */
/* morado medio #9793C6 */
/* morado claro #D1CEED */

:root {
    --azul-dark: #18142A;
    --azul-light: #26213F;
    --mora-dark: #49426C;
    --mora-med: #9793C6;
    --mora-light: #D1CEED;
    --white: #FFFFFF;
    --amarillo: #FAEDC1;
}

a {
    color: var(--mora-med);
}

body {
    background-color: var(--azul-light);
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

.chat-box-container {
    max-width: 100% !important;
    margin: auto;
}

.offcanvas {
    max-height: 100vh;
}

.offcanvas-body {
    background-color: var(--mora-dark);
    padding: 5px;
}

.offcanvas-header {
    background-color: var(--mora-med);
}

#chat-box {
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: var(--mora-dark);
}

.form-control {
    border-radius: 5px;
    border: solid 2px var(--mora-light);
    background-color: var(--mora-med);
}

.form-control:focus {
    color: var(--azul-light);
    background-color: var(--mora-med);
    border-color: var(--mora-med) !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.6);
}

.btn-send {
    background-color: var(--mora-med);
    border: 2px solid var(--mora-light);
    border-radius: 5px;
    color: var(--azul-light);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.btn-send:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.6);
}

#message-form {
    padding: 10px;
    background-color: var(--mora-med);
}

.chat-message {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bot-message {
    text-align: left;
    font-size: 0.9rem;
    color: var(--azul-light);
    background-color: var(--mora-med);
    border-radius: 0 23px 23px 23px;
    padding: 10px;
    margin-right: 10%;
}

.button-message {
    background-color: var(--mora-dark);
    border: 2px solid var(--mora-light);
    box-shadow: 0px 6px 6px 0px rgba(34, 27, 2, 0.3);
}

.button-message:hover {
    box-shadow: inset 0px 6px 6px 0px rgba(34, 27, 2, 0.3);
    border: 2px solid var(--amarillo);
    
}

.button-message .btn:hover {
    color: var(--amarillo) !important; 
}

.button-message .btn {
    color: var(--mora-light) !important; 
}

iframe.embed-responsive-item {
    width: 100%;
    border-radius: 0 23px 23px 23px;
}

.user-message {
    text-align: right;
    font-size: 0.9rem;
    color: var(--azul-light);
    background-color: var(--mora-light);
    border-radius: 23px 0px 23px 23px;
    padding: 10px;
    margin-left: 60%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.chat-button {
    width: 100%; /* Hacer que los botones tengan el ancho completo */
    text-align: left;
}

.chat-button:focus {
    box-shadow: 0 0 0 0;
}

.disabled-button {
    border: none;
    color: var(--mora-light); /* Gris oscuro */
    cursor: not-allowed;
    opacity: 0.6; /* Reduce la opacidad para mostrar que está deshabilitado */
    transition: none; /* Remueve cualquier transición para evitar cambios de color */
    pointer-events: none; /* Evita cualquier interacción, incluyendo el clic */
}

.btn-primary {
    background-color: var(--azul-light);
    color: white;
    border: 1px solid var(--mora-light);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-primary:hover {
    background-color: var(--white);
    color: var(--azul-light);
    border: 1px solid var(--white);
    border-radius: 10px;
    box-shadow: 5px 7px 28px rgba(0, 0, 0, 0.5);
}

.btn-primary:active {
    background-color: var(--mora-med);
    border: 1px solid var(--mora-med);
}

.btn-primary:focus{
    background-color: var(--mora-med);
    border: 1px solid var(--mora-med);
    box-shadow: 0 0 0 0.25rem rgba(151, 147, 198, 0.4);
}

.b-example-divider {
    width: 100%;
    background-color: #5F52BE;
    border: solid #5F52BE;
    border-width: 1px 0;
}

.card {
    background-color: var(--mora-dark);
    border-radius: 0;
    border: 0;
}

.card-body {
    background-color: var(--azul-light);
}

.card-header {
    padding: 15px;
    display: flex;
    flex-wrap: inherit;
    align-content: center;
}

.card-title {
    font-size: 1.1rem;;
}

.color-fondo {
    background-color: var(--azul-light);
}

.lead {
   color: var(--mora-light);
   font-weight: 600;
}


/* about */

/* no me funciono esto pero lo dejo por ahora
.body-about {
    background-image: url("fondo.png");
    background-repeat: repeat;
}
*/

.titulo {
    font-family: 'ABeeZee', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--amarillo)
}

.subtitulo {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.contenido {
    max-width: 60%;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .contenido {
          max-width: 100%;
     }
 }

 .svg-titulo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
 }

.accordion {
    margin-bottom: 50px;
}

.accordion-item {
    background-color: var(--mora-light);
    color: var(--azul-light);
    border: 2px solid var(--azul-light);
}

.accordion-button {
    background-color: var(--mora-dark);
    color: var(--white)
}

.accordion-button:not(.collapsed) {
    background-color: var(--mora-dark);
    color: var(--white);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--mora-dark);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(13,110,253,.25);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("menos.svg");
}

.accordion-button::after {
    background-image: url("mas.svg");
  }


  @media (max-width: 768px) {
    .offcanvas-body {
        height: auto;
        max-height: 100vh;
        overflow-y: auto;
    }
}



/* Ajusta el tamaño del chat-box-container en dispositivos móviles */
@media screen and (max-width: 600px) {
    .chat-box-container {
        max-height: 100vh;
        overflow-y: auto;
    }

    #chat-box {
        height: auto;
        max-height: 70vh; 
    }

    #message-form {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1;
        background-color: var(--mora-dark); 

    }
}


@media (min-width: 1024px) {
    .offcanvas {
        width: 35% !important; 
    }
}



/* Media Query para hacer el chat-box responsivo en dispositivos más pequeños
 @media (max-width: 768px) {
   #chat-box {
         max-height: 80vh;  Ajustar la altura máxima para dispositivos más pequeños 
    }
}

Media Query para disminuir al 70% el tamaño en vista de escritorio
@media (min-width: 1024px) {
    .chat-box-container {
        max-width: 50%;
        margin: auto;
    }
}
 */