{% extends 'base.html' %}

{% block titulo %}
    SofIA - Sistema de oída feminista
{% endblock %}

{% block estilos %}
    {{ super() }}
    <!-- estilos adicionales para esta página -->
    <link href="{{ url_for('static', filename='css/chat.css') }}" rel="stylesheet">
{% endblock %}

{% block contenido %}
    <div class="container contenido">
        <h1 class="titulo">Preguntas frecuentes</h1>
        <h3 class="subtitulo">¿Qué es la violencia digital de género?</h3>
        <p>La violencia digital de género no es una sola definición , son  una serie de comportamientos y situaciones  violentas, hostiles o abusivas que se dirigen específicamente hacia una persona debido a su género, y que se llevan a cabo a través de plataformas y medios digitales, como las plataformas de redes sociales. Estas formas de violencia pueden manifestarse de diversas maneras, incluyendo el acoso, la intimidación, la difamación, la exposición no consensuada de imágenes y la vigilancia excesiva en línea, entre otras.</p>
        <p>La violencia digital de género NO es un otro tipo de violencia de género, o que sea  neutra o no real, busca perpetuar normas de género nocivas y reforzar desigualdades, aprovechando el anonimato y la distancia que ofrecen las plataformas digitales.
        </p>
        <p>En sus diversas formas, afecta a personas de todos los géneros, pero las mujeres y personas de las comunidades  LGBTQ . La violencia digital de género  es una violencia real que puede tener graves consecuencias emocionales, psicológicas y sociales para las víctimas, y puede dificultar su participación plena y segura en ambientes digitales: muchas veces hay deseos de desaparecer, cerrar cuentas o perfiles y no exponerse. Revisa el estudio de Fundación Datos Protegidos sobre <a href="https://datosprotegidos.org/proyecto/violencia-de-genero-en-internet-en-chile/">Violencia de Género en Internet en Chile 2018</a> (con la colaboración de ONG Amaranta y el Departamento de Derecho Penal de la Universidad Alberto Hurtado)
        </p>
        <h3 class="subtitulo">¿Cómo puedo identificar si estoy experimentando violencia digital de género?</h3>
        <p>¿Has recibido agresiones, humillaciones o  acoso en tu perfil o cuenta de red social por algo que dijiste, comentaste? ¿Esta situación se ha vuelto recurrente, ocurre con frecuencia y no sabes qué hacer?</p>
        <p>Identificar la violencia digital de género puede ser crucial para tomar medidas para protegerte. Aquí hay algunas señales a tener en cuenta:</p>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 card-header ">
                <h5 class="card-title align-items-center">Acoso y Comentarios Hostiles</h5>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">Si recibes comentarios, mensajes o publicaciones que son insultantes, humillantes o amenazantes debido a tu género (mujer) u orientación sexual, es posible que estés experimentando violencia digital de género.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 card-header ">
                <h5 class="card-title align-items-center">Difamación y Calumnias</h5>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">Si alguien difunde información falsa o perjudicial sobre ti en plataformas digitales con la intención de dañar tu reputación y tu vida, estás siendo víctima de violencia digital de género.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 card-header">
                <h5 class="card-title align-items-center">Exposición no Consensuada de Imágenes Íntimas</h5>
            </div>
            <div class="col-md-8 color-fondo">
              <div class="card-body">
                <p class="card-text">Si alguien comparte imágenes íntimas tuyas sin tu consentimiento, esto es una forma grave de violencia digital de género.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 card-header ">
                <h5 class="card-title align-items-center">Sexting No Deseado</h5>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">Si recibes imágenes o mensajes sexuales no solicitados y te sientes incómodo o acosado por ellos, estás siendo víctima de violencia digital de género.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 card-header ">
                <h5 class="card-title align-items-center">Aislamiento Social</h5>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">Si recibes comentarios, mensajes o publicaciones que son insultantes, humillantes o amenazantes debido a tu género (mujer) u orientación sexual, es posible que estés experimentando violencia digital de género.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 card-header ">
                <h5 class="card-title align-items-center">Intolerancia y Discriminación</h5>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">Si recibes de discursos de odio, comentarios misóginos  (aversión o rechazo hacia las mujeres), si recibes o te envían comentarios transfóbicos u otros tipos de discriminación debido a tu género, estás experimentando violencia digital de género.</p>
              </div>
            </div>
          </div>
        </div>
    </div>    
		
{% endblock %}