{% extends 'base.html' %}

{% block titulo %}
    SofIA - Sistema de oída feminista
{% endblock %}

{% block estilos %}
    {{ super() }}
    <!-- estilos adicionales para esta página -->
    <link href="{{ url_for('static', filename='css/chat.css') }}" rel="stylesheet">
{% endblock %}

{% block contenido %}
<div class="bg-image" style="background-image: url('static/img/fondo.png');
height: 100vh;">
    <div class="container body-about">
        <div class="svg-titulo"><img src="static/img/titulo-about.svg"></div>
        <div class="container contenido">
            <p style='font-weight: 700;'>¿Has recibido agresiones, humillaciones o  acoso en tu perfil o cuenta de red social por algo que dijiste, comentaste? ¿Esta situación se ha vuelto recurrente, ocurre con frecuencia y no sabes qué hacer?</p>
            <p>Lo que te está ocurriendo y lo que estás enfrentando le pasa a millones de otras mujeres en redes sociales, lo importante es que sepas que no  estás sola y no es tu culpa lo que estás enfrentando.</p>
            <p>Se trata de algunas  de las tantas formas con que ocurren diariamente diversas situaciones de Violencia Digital de Género, y que son una forma de ejercer vulneraciones contra tu derecho a expresión, opinión y a participar libremente en el espacio de Internet.</p>
            <p><span style='font-weight: 700;'>Sof+IA  es un Sistema de Oída Feminista,</span> apoyada con Inteligencia Artificial generativa (IA).  Es una chatbot, una agente tecnológica  no humana para dialogar y conversar sobre situaciones de violencia y acoso digital que podemos vivir las mujeres, de cualquier edad, por el hecho de expresarnos, opinar o subir nuestros contenidos en plataformas digitales de redes sociales.</p>
            <p>Pero detrás de cada chatbot hay personas y un equipo que busca que con este  sistema, podamos tener algunos  datos sobre la realidad que se vive en relación a las violencias digitales de género en Chile, para incidir en el debate y la agenda pública, y también  una comunidad que apoye en la entrega de información sobre qué hacer, cómo reaccionar y cómo apoyarnos en este tipo de situaciones. Porque le puede ocurrir a cualquier mujer, de cualquier edad , en cualquier etapa de su vida. </p>
            <p>Hemos desarrollado un primer prototipo o  versión de Sof+IA que es una chatbot que funciona en este sitio web y que al ser consultada puede entregarte información sobre</p>
            <ul>
                <li><p>Que es la violencia digital de género, en especial contra mujeres de cualquier edad y sus distintas manifestaciones: recibir  humillaciones, agresiones escritas – verbales en tu perfil o cuenta de redes sociales , ataques en contra de lo que has expresado u opinado, recibir mensajes directos violentos sin haberlos solicitado etc.</p>
                </li>
                <li><p>Qué puedes hacer para reportar y denunciar estas situaciones en las mismas plataformas de redes sociales</p>
                </li>
                <li><p>Orientarte para realizar una denuncia a la Policía de Investigaciones, aunque estas situaciones actualmente no son consideradas un delito en Chile</p>
                </li>
                <li><p>Darte muchas recomendaciones para tu autocuidado digital y para que no te vayas de internet, ni para que cierres tus cuentas de redes sociales. Queremos que sepas que hay herramientas, recursos y apoyo para que no te sientas sola enfrentado esta situación.</p>
                </li>
            </ul>
        </div>
    </div>    
</div>		
{% endblock %}