<!-- obsoleto -->

{% extends "base.html" %}
{% block titulo %}Sofía{% endblock %}
{% block contenido %}
    <div class="container">
        <h1 class="text-center my-5">Sofía</h1>
    </div>
    <df-messenger chat-title="FeministBot" agent-id="6f3ead49-e65d-44c6-be31-30a3647d0c09" language-code="es" expand="true" intent="intencion_saludo"></df-messenger>
{% endblock contenido %}
<script>

</script>

{% block estilos %}
    {{ super() }}
{% endblock estilos %}

{% block scripts %}
    {{ super() }}
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
{% endblock scripts %}
