{% extends 'base.html' %}

{% block titulo %}
    SofIA - Sistema de oída feminista
{% endblock %}

{% block estilos %}
    {{ super() }}
    <!-- estilos adicionales para esta página -->
    <link href="{{ url_for('static', filename='css/chat.css') }}" rel="stylesheet">
{% endblock %}

{% block contenido %}
    <div class="container contenido">
        <h1 class="titulo">Autocuidado digital</h1>
        <h3 class="subtitulo">Autocuidado Digital: Resguardando tu experiencia en Línea</h3>
        <p class="parrafo">En un mundo digital en constante evolución, es esencial que te sientas segura y empoderada mientras navegas por Internet y utilizas tus redes sociales. Entendemos que los incidentes digitales pueden ser abrumadores, pero no queremos que abandones tu vida online. Por eso aquí te damos recomendaciones que te ayudarán a mantener segura y disfrutar tu experiencia en línea.</p>
        <p>¡Sigue leyendo para descubrir cómo protegerte en tus cuentas de redes sociales!</p>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Actualiza tus Contraseñas Regularmente
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Asegúrate de cambiar tus contraseñas con regularidad y utiliza combinaciones seguras que incluyan letras mayúsculas, minúsculas, números y símbolos. Mantén tus contraseñas en un lugar seguro y nunca las compartas con nadie.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Activa la Autenticación en dos pasos (2FA)
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Habilita la autenticación de dos factores en todas tus cuentas de redes sociales. Esto añade una capa adicional de seguridad al requerir un código único además de tu contraseña para acceder a tu cuenta.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Revisa tus configuraciones de privacidad
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Explora las opciones de privacidad de cada plataforma y personaliza quién puede ver tu contenido y quién puede interactuar contigo. Esto te permitirá controlar quiénes tienen acceso a tu información y tus publicaciones.
                </div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapsFoure">
                    Sé cautelosa con las solicitudes de amistad y seguidores
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Antes de aceptar solicitudes de amistad o seguidores, verifica que conozcas personalmente a la persona o que su perfil parezca legítimo. Evita conectar con personas desconocidas o sospechosas.
                </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Limita la información personal que compartes                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Evita publicar información sensible como tu dirección, número de teléfono o detalles financieros en tus perfiles públicos. Cuanta menos información personal compartas, menos vulnerable estarás.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    Reporta comportamientos inapropiados
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Si encuentras contenido o interacciones que sean inapropiadas, ofensivas o amenazadoras, utiliza las herramientas de denuncia de la plataforma. Esto ayuda a mantener un ambiente seguro para todos.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    Mantén tus dispositivos actualizados
                  </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Asegúrate de tener la última versión de software en tus dispositivos (celular, laptop, computador, tablet, etc.) y aplicaciones. Las actualizaciones a menudo incluyen factores de seguridad que protegen tus datos.
                </div>
                </div>
              </div>
          </div>
    </div>    
		
{% endblock %}